## Assignment Week 5: Answer the following questions:
1. What is the northernmost airport in the United States?
2. What is the easternmost airport in the United States?
3. On February 12th, 2013, which New York area airport had the windiest weather?

### First we'll take a brief look at the data

In [18]:
import pandas as pd
airports = pd.read_csv('airports.csv')
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5.0,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6.0,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6.0,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5.0,A,America/New_York

### We'll find the northernmost airport by checking latitude.
The airport with the highest latitude is the northernmost airport.

In [19]:
data.loc[data['lat'] == data.lat.max()]

     faa                     name        lat        lon  alt   tz dst tzone
417  EEN  Dillant Hopkins Airport  72.270833  42.898333  149 -5.0   A    \N

### However, we have just uncovered an error in the data. 
We know that Dillant Hopkins Airport in New Hampshire, is probably not the most northernmost airport.
The latitude and longitude for Dillant have been reversed. So we'll correct the error with an in-place replacement.

In [26]:
#I purposefully shave off the last number, so there won't be a duplicate for the second replace statement
#I then add the number back with a third replace statement
#Finally, we check the corrected record
data.replace(72.270833, 42.89833, inplace=True)
data.replace(42.898333, 72.270833, inplace=True)
data.replace(42.89833, 42.898333, inplace=True)
data[(data.name == 'Dillant Hopkins Airport')]

     faa                     name        lat        lon  alt   tz dst tzone
417  EEN  Dillant Hopkins Airport  42.898333  72.270833  149 -5.0   A    \N

## Question 1 Answer: Wiley Post Will Rogers Memorial Airport
### We can search for our maximum latitude again, which returns an Alaskan airport so it is most likely correct

In [27]:
data.loc[data['lat'] == data.lat.max()]

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage

## Question 2. What is the easternmost airport in the United States?
### For the easternmost airport, we'll want the highest longitude

In [29]:
data.loc[data['lon'] == data.lon.max()]

      faa          name        lat        lon  alt   tz dst              tzone
1290  SYA  Eareckson As  52.712275  174.11362   98 -9.0   A  America/Anchorage

## Question 2 Answer: Eareckson Air Station

## Question 3. On February 12th, 2013, which New York area airport had the windiest weather?
### First we'll need to merge the 2 csv files for airports and weather. They are linked by 'faa' and 'origin'

In [46]:
#specify the columns from each file to import
fields1 = ['origin','year','month','day','wind_speed','wind_gust']
fields2 = ['faa','name','tzone']

#import files
df1 = pd.read_csv('weather.csv', skipinitialspace=True, usecols=fields1)
df2 = pd.read_csv("airports.csv", skipinitialspace=True, usecols=fields2)

#change columnn name in airports.csv to match weather.csv
df2.rename(columns={'faa': 'origin'}, inplace=True)

#Now merge the 2 csv files on the origin key
newset = df1.merge(df2, on='origin')
newset.head()

,origin,year,month,day,wind_speed,wind_gust,name,tzone
0,EWR,2013,1,1,10.35702,11.918651,Newark Liberty Intl,America/New_York
1,EWR,2013,1,1,13.80936,15.891535,Newark Liberty Intl,America/New_York
2,EWR,2013,1,1,12.65858,14.567241,Newark Liberty Intl,America/New_York
3,EWR,2013,1,1,13.80936,15.891535,Newark Liberty Intl,America/New_York
4,EWR,2013,1,1,14.96014,17.215830,Newark Liberty Intl,America/New_York

### Now we'll reduce our dataset to the date we're concerned with, February 12, 2013

In [47]:
newset = newset[(newset.year == 2013) & (newset.month == 2) & (newset.day == 12)]
newset.head()

,origin,year,month,day,wind_speed,wind_gust,name,tzone
1007,EWR,2013,2,12,0.00000,0.000000,Newark Liberty Intl,America/New_York
1008,EWR,2013,2,12,3.45234,3.972884,Newark Liberty Intl,America/New_York
1009,EWR,2013,2,12,8.05546,9.270062,Newark Liberty Intl,America/New_York
1010,EWR,2013,2,12,5.75390,6.621473,Newark Liberty Intl,America/New_York
1011,EWR,2013,2,12,8.05546,9.270062,Newark Liberty Intl,America/New_York

### Finally we will find the highest wind gust and wind speed, both of which happened to be NY airports, so no further filtering is necessary
## So Question 3 Answer is Newark Liberty International

In [49]:
MaxWindGust = newset.loc[newset['wind_gust'] == newset.wind_gust.max()]
MaxWindSpeed = newset.loc[newset['wind_speed'] == newset.wind_speed.max()]

print MaxWindGust, MaxWindSpeed

     origin  year  month  day  wind_speed    wind_gust                 name  \
1015    EWR  2013      2   12  1048.36058  1206.432388  Newark Liberty Intl

                 tzone
1015  America/New_York        origin  year  month  day  wind_speed    wind_gust                 name  \
1015    EWR  2013      2   12  1048.36058  1206.432388  Newark Liberty Intl

                 tzone
1015  America/New_York